<div class="header__menu">
    <div class="header__menu--line"></div>
  </div>
        <!-- Overlay -->
  <div class="header__overlay"></div>
  <header id="header">
  <ul class="header-main-nav-links">
    <li><a href="/">Home</a></li>
    <li><a href="/aboutus">About Us</a></li>
    <li><a href="/services">Services</a></li>
    <li><a href="/schedule&booking">Booking</a></li>
    <%- include('logged') %>

  </ul>
  </header>