<% if(user) { %>
    <li><a href="login/logout">Logout</a></li>
     <li><a href="/profile"><%= user.username %></a></li>
 <% } else { %>   
    <li><a href="login">Login</a></li>
<li><a href="sign-up">Sign Up</a></li>
    <% } %> 