<%- include('partials/header') %>
<%- include('partials/navs/contactnav') %>
<div class="contact-content">
    <div class="contact-content-title">
  
    </div>
      <div class="contact-content-form">
        <form>
        
        </form>
    </div>
    </div>
    <div class="contact-us">
    <div class="contact-us-text">
      <h1 class="contact-us-text-title">Contact Us</h1>
      <p class="contact-us-text-para">Have a question about us? Feel free to send us a message through this form</p>
    </div>
    <div class="contact-us-content">
      <div class="sign-up-content-form">
        <p class="form-para">Phone Number</p>
    <input type="textarea" placeholder="+1-000-0000">
        <p class="form-para">Email</p>
    <input type="textarea" placeholder="email">
        <p class="form-para">Message</p>       
    <input type="textarea" placeholder="Message">
    <a href="#"><button class="button sign-up-button">Submit</button></a>
    
  </div></div></div>
<%- include('partials/footer') %>