<%- include('partials/header') %>
<div class="login-content">
    <div class="forgot-password-text">
      <h1 class="login-content-title">Forgot Password?</h1>
    </div>
    <div class="login-content-main">
            <div class="login-content-form">
                <p class="forgot-password-para">Please enter your email address.</p>
            <input type="textarea" placeholder="email">
            <a href="#"><button class="button sign-up-button">Submit</button></a>
            <p class="forgot-password-para">An email will be sent to the given address with instructions to reset your password.</p>
                </div>
        </div>
  </div>
<%- include('partials/footer') %>