<%- include('partials/header') %>
<%- include('partials/navs/indexnav') %>
<div class="index-landing">
  <div class="index-landing-text">
<h1 class="index-title">Welcome to Lisa's New Creations</h1>
<p class="index-subtext">Now functioning online</p>
<a href="appointments/new"><button class="button" id="book-button">Request a booking</button></a>
<% if(user && user.role == process.env.AUTHORIZED) { %>
  <h3>Administrative Links:</h3>
  <a href="appointments/view"><button class="button" id="book-button">View Requests</button></a>
<% } %>
</div>
</div>
<%- include('partials/footer') %>
