<%- include('partials/header') %>
<%- include('partials/navs/indexnav') %>
<div class="index-landing">
  <div class="index-landing-text">
<h1 class="index-title">Welcome to Pam's New Creations</h1>
<p class="index-subtext">Yar har we're in express now</p>
<a href="schedule&booking.html"><button class="button" id="book-button">Book Now</button></a>
</div>
</div>
<%- include('partials/footer') %>
