<%- include('partials/header') %>
<%- include('partials/navs/indexnav') %>
<div class="index-landing">
  <div class="index-landing-text">
<h1 class="index-title">Welcome to Lisa's New Creations</h1>
<p class="index-subtext">Where your hair is in the best of care!</p>
<a href="appointments/new"><button class="button" id="book-button">Request a booking</button></a>

<a href="/demo"><button id="admin-button" class="button">Demo The App</button></a>
<% if(user && user.role == process.env.AUTHORIZED) { %>
  <h3 class="index-admin-links">Administrative Links:</h3>
  <div class="index-buttons">
  <a href="appointments/view"><button class="button" id="admin-button">View Requests</button></a>
  <a href="/schedule&booking"><button class="button" id="admin-button">Edit Schedule</button></a>
  <a href="/messages"><button class="button" id="admin-button">View Messages</button></a>
</div>
<% } %>
</div>
</div>
<%- include('partials/footer') %>
