<%- include('partials/header') %>
<div class="login-content">
  <div class="form-group form-container">
    <div class="services-login-text">
      <h1 class="login-content-title">Login</h1>
      <p class="login-content-para"> Login below to schedule and view current appointments</p>
    
      </div>
    </div>
    </div>
    <div class="form-group form-container">    
      <form action="/login" method="POST">
        <input type="text" class="form-control" name="username" placeholder="Username" autofocus required>
        <input type="password" class="form-control" name="password" placeholder="Your message here" autofocus required>
        
        <button type="button submit" class="btn btn-success form-control">Confirm</button>
        
        </form>
      </div>

<%- include('partials/footer') %>