<%- include('partials/header') %>
<div class="login-content">
 


  <div class="form-group form-container">
    <div class="services-login-text">
      <h1 class="login-content-title">Login</h1>
      <p class="login-content-para"> Login below to schedule and view current appointments</p>
    
    <form action="/login" method="POST">
      <input type="text" class="form-control" name="username" placeholder="username" autofocus required>
      
      <input type="password" name="password" placeholder="password" class="form-control" required>
     
      <a href="#"><button class="button sign-up-button form-control">Login</button></a>

      </form>
    </div>
    </div>
      
      


 
          <div class="login-content-form">
            
            <p>Username</p>
          
          <p>Password</p>
          
          
          <p class="forgot-password">Forgot Password?</p>
          <div class="existing-user-check">
            <p class="existing-member"><a href="/forgotpassword">
                Click here</a>
        to reset</p>
            </form>
    </div>
          </div>
      </div>
</div>
<%- include('partials/footer') %>