<h1>Create Appointment</h1>

<form action="/appointments/new" method="POST">
    <input type="text" name="name" placeholder="name" autofocus required>
    <input type="email" name="email" placeholder="email" autofocus required>
    <input type="text" name="service" placeholder="service" autofocus required>
    <input type="text" name="hours" placeholder="hours" autofocus required> 
    <input type="datetime-local" name="date" placeholder="date" autofocus required>
    <button type="submit">Submit</button> 
    </form>