<h1>User information</h1>
<p class="user-info-name">Username <%=JSON.stringify(user.username) %></p>
<p class="user-info-email">Email Address <%=JSON.stringify(user.email) %></p>
<p class="user-info-appointments">Will implement appointments</p>
