<%- include('partials/header') %>
<%- include('partials/navs/schedule&bookingnav') %>
<%- include('partials/footer') %>


<!--Used to trim off unwanted data from the JSON response-->
<% data.forEach((a) => delete a._id) %>
<% data.forEach((a) => delete a.__v) %>
<% data.forEach((a) => JSON.stringify(a)) %>

<% if(user && user.role == process.env.AUTHORIZED) { %>
  <h1 class="jumbotron text-center">Current Schedule</h1>
  <h4 class="text-center">Create Event</h4>

  <div class="form-group form-container">
    <form action="/appointments/confirmed" method="POST">
      <input type="text" class="form-control" name="title" placeholder="title" autofocus required>
      <small id="passwordHelpInline" class="text-muted">
          Enter the confirmed name.
        </small>

      <input type="datetime-local"   class="form-control" name="start" placeholder="start-time" autofocus required>
      <small id="passwordHelpInline" class="text-muted">
          Enter a start time.
        </small>

      <input type="datetime-local" class="form-control" name="end" placeholder="end-time" autofocus required>
      <small id="passwordHelpInline" class="text-muted">
          Enter an end time.
        </small>
      
      <button type="button submit" class="btn btn-success form-control">Confirm</button>
      <small id="passwordHelpInline" class="text-muted">
        Create event.
      </small>
      <a href="/appointments/confirmed"><button type="button" class="btn btn-primary form-control">More Options</button></a>
      </form>
    </div>
  
<% } else { %>   
  <h1 class="jumbotron text-center">Current Schedule</h1>
  <% } %> 

<link href="/fullcalendar/main.css" rel="stylesheet" />
<script src="/fullcalendar/main.js"></script>

<script>

document.addEventListener('DOMContentLoaded', function() {

  const newData = '<%-JSON.stringify(data)%>';
  //console.log("Newdata is a ", typeof newData, newData)

  const result = [];
  result.push(JSON.parse(newData))
  
  // console.log("This is result, I've pushed the values and I'm a",typeof result, result)
  
    var calendarEl = document.getElementById('calendar');

    var calendar = new FullCalendar.Calendar(calendarEl, {
      initialView: 'dayGridMonth',
      initialDate: Date.now(),
      headerToolbar: {
        left: 'prev,next',
        center: 'title',
        right: 'dayGridMonth,timeGridWeek,timeGridDay'
      },
      timeZone: 'EST',
      events: JSON.parse(newData),
      timeFormat: 'h(:mm)t'
    });
    calendar.render();
  });
</script>

<div id="calendar"></div>