<%- include('partials/header') %>
<%- include('partials/navs/schedule&bookingnav') %>
<%- include('partials/footer') %>


<!--Used to trim off unwanted data from the JSON response-->
<% data.forEach((a) => delete a._id) %>
<% data.forEach((a) => delete a.__v) %>
<% data.forEach((a) => JSON.stringify(a)) %>

<h1 class="jumbotron">Current Schedule</h1>

<link href="/fullcalendar/main.css" rel="stylesheet" />
<script src="/fullcalendar/main.js"></script>

<script>

document.addEventListener('DOMContentLoaded', function() {

  const newData = '<%-JSON.stringify(data)%>';
  //console.log("Newdata is a ", typeof newData, newData)

  const result = [];
  result.push(JSON.parse(newData))
  
  // console.log("This is result, I've pushed the values and I'm a",typeof result, result)
  
    var calendarEl = document.getElementById('calendar');

    var calendar = new FullCalendar.Calendar(calendarEl, {
      initialView: 'dayGridMonth',
      initialDate: Date.now(),
      headerToolbar: {
        left: 'prev,next today',
        center: 'title',
        right: 'dayGridMonth,timeGridWeek,timeGridDay'
      },
      timeZone: 'EST',
      events: JSON.parse(newData),
      timeFormat: 'h(:mm)t'
    });
    calendar.render();
  });
</script>

<div id="calendar"></div>