<%- include('partials/header') %>
<div class="services-content">
    <div class="services-content-text">
      <h1 class="services-content-title">Our Services</h1>
    <p class="services-content-para">We know the struggle of being at your A-game every day, leave the hair to us.</p>
    </div>
    <div class="services-content-main">
      <img class="services-content-img" src="img/services-img1.jpg">
      <p class="services-content-para">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
  </div>
<%- include('partials/footer') %>