<%- include('partials/header') %>
<form action="/sign-up" method="POST">
    <input type="text" name="username" placeholder="username" autofocus required> 
    <input type="email" name="email" placeholder="email" autofocus required>
    <input type="password" name="password" placeholder="password" autofocus required>
    <button type="submit">Register</button> 
    </form>
<%- include('partials/footer') %>