/* Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    z-index: 1;
}

.input-body {
    background-color: rgba(89, 90, 185, 0.432);
}

/* Universal text setting */
p {
    word-wrap: normal;
}

/*List and Link Styling*/
li {
    list-style: none;
}

a:link,
a:visited {
    text-decoration: none;
    font-size: 1.5rem;
}

/* Header Navigation */
header#header {
    background-color: rgb(144, 34, 158);
    height: calc(3vw + 3vh);
}

nav#header-main-nav {
    height: 100%
}

ul.header-main-nav-links {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul.header-main-nav-links li{
    padding-right: 3vw;
}

/* Dynamic tabs */
ul.header-main-nav-links li:nth-child(5) {
    background-color: orchid;
    border: 1.5px solid green;
}

ul.header-main-nav-links li:nth-child(6) {
    background-color: blue;
    border: 1.5px solid purple;
}

ul.header-main-nav-links li a{
    position: relative;
    padding: 0.2rem 0.6rem;
    font-size: calc(1rem + 0.6667vw);
    color: white;
}

/* header animation */
ul.header-main-nav-links li a:link::before,
ul.header-main-nav-links li a:visited::before,
ul.header-main-nav-links li a:link::after,
ul.header-main-nav-links li a:visited::after{
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 0.25rem;
    background-color: white;

    transform: scaleX(0);

    transition: transform 0.6s cubic-bezier(1, 0, 0, 1);
}

ul.header-main-nav-links li a:link::before,
ul.header-main-nav-links li a:visited::before{
    top: 0;
    transform-origin: left;
}

ul.header-main-nav-links li a:link::after,
ul.header-main-nav-links li a:visited::after{
    bottom: 0;
    transform-origin: right;
}

ul.header-main-nav-links li a:hover::before,
ul.header-main-nav-links li a:active::before,
ul.header-main-nav-links li a:hover::after,
ul.header-main-nav-links li a:active::after{
    transform: scaleX(1);
}


ul.header-main-nav-links li:nth-child(5):hover {
    background-color: red;
}

ul.header-main-nav-links li:nth-child(6):hover {
    background-color: pink;
}


.header__menu {
    position: fixed;
    height: 4rem;
    width: 4rem;
    top: 2rem;
    right: 2rem;
    padding: 2.5rem;
    z-index: 20;
    cursor: pointer;
  }
  .header__menu--line, .header__menu--line::before, .header__menu--line::after {
    content: "";
    position: absolute;
    width: 3.5rem;
    height: 0.2rem;
    background-color: green;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    transition: all 0.5s ease-in-out;
  }
  .header__menu--line::before {
    top: -2.2rem;
  }
  .header__menu--line::after {
    top: 1.3rem;
  }
  .header__overlay.open {
    display: block;
    opacity: 0.5;
  }
  .header__menu.open .header__menu--line {
    background-color: transparent;
  }

  .header__menu.open .header__menu--line::before {
    transform: rotate(45deg);
    top: 20px;
  }
  
  .header__menu.open .header__menu--line::after {
    transform: rotate(-45deg);
  }
  
  header#header.open .header__menu--line::before,
  header#header.open .header__menu--line::after {
    top: 0;
  }


  .header__overlay {
    width: 100%;
    height: 100vh;
    background-color: orange;
    position: fixed;
    opacity: 0;
    display: none;
    z-index: 10;
  }

/* Gross method I whipped up but hey,
it works :D */
/* Hides nav */

@media screen and (min-width: 665px) {
    .header__menu {
        pointer-events: none;
        display: none;
    }
}

/* Menu/Nav Media Queries */

@media screen and (max-width: 664px) {
    body {
        pointer-events: all;
    }
    header#header {
      position: fixed;
      top: 0;
      left: 0;
      width: 25rem;
      height: 100vh;
      line-height: initial;
      flex-direction: column;
      text-align: center;
      z-index: 20;
      width: 200px;
      transform: perspective(70rem) rotateY(180deg);
      transform-origin: top left;
      transition: transform 0.5s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    .header-main-nav-links {
        font-size: 50px;
      height: 80%;
      flex-direction: column;
      justify-content: space-between;
      padding-top: 50px;
    }
    .header__menu {
        position: fixed;
        height: 4rem;
        width: 4rem;
        top: 2rem;
        right: 2rem;
        padding: 2.5rem;
        z-index: 20;
        cursor: pointer;
      }
      header#header.open {
        transform: rotateY(0);
      }
      .header__menu--line::before {
        top: -2.2rem;
      }
      .header__menu--line::after {
        top: 1.3rem;
      }
      .header__menu {
        position: fixed;
        height: 4rem;
        width: 4rem;
        top: 2rem;
        right: 2rem;
        padding: 2.5rem;
        z-index: 20;
        cursor: pointer;
      }
      .header__menu--line, .header__menu--line::before, .header__menu--line::after {
        content: "";
        position: absolute;
        width: 3.5rem;
        height: 0.2rem;
        background-color: green;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        transition: all 0.5s ease-in-out;
      }
      .header__menu--line::before {
        top: -2.2rem;
      }
      .header__menu--line::after {
        top: 1.3rem;
      }
      .header__overlay.open {
        display: block;
        opacity: 0.5;
      }
      .header__menu.open .header__menu--line {
        background-color: transparent;
      }
    
      .header__menu.open .header__menu--line::before {
        transform: rotate(45deg);
      }
      
      .header__menu.open .header__menu--line::after {
        transform: rotate(-45deg);
      }
      
      header#header.open .header__menu--line::before,
      header#header.open .header__menu--line::after {
        top: 0;
      }
    
    
      .header__overlay {
        width: 100%;
        height: 100vh;
        background-color: orange;
        position: fixed;
        opacity: 0;
        display: none;
        z-index: 10;
      }
}

.index-landing {
    display: flex;
    padding: 100px;
    height: 100vh;
    background-color: rgb(18, 136, 136);
    background-image: url(img/si.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    color: rgb(100, 14, 158);
}


.index-landing h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 900;
    font-size: calc(3vh+3px);
    background: -webkit-linear-gradient(rgb(48, 227, 233), rgb(255, 1, 221));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.index-landing p {
    font-size: calc(1vh+1px)
}

/* Booking Button */
.button {
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition-duration: 0.4s;
    padding: 10px 10px;
    border-radius: 5%;
}

button#book-button {
    background-color: rgb(140, 127, 255);
    color: rgb(251, 255, 0);
    margin-bottom: 10px;
}

button#admin-button {
  background-color: rgb(13, 161, 112);
    color: white; 
  margin-bottom: 10px;

}

button#book-button:active,
button#book-button:hover { 
    background-color: rgb(202, 60, 202);
    color: white; 
}

button#admin-button:active,
button#admin-button:hover { 
    background-color: rgb(140, 127, 255);
    color: rgb(251, 255, 0);
}

/* About Us Page */
.about-us-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-us-content-title {
    background-color: khaki;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}


.about-us-title-text {
    font-size: 50px;
}


.about-us-content-para {
    color: blueviolet;
    font-size: 20px;
}

.about-us-img-1 {
    display: flex;
    background-color: rgb(226, 223, 43);
}

.about-us-img-2 {
    display: flex;
    background-color: rgb(58, 226, 43);
    flex-direction: row-reverse;
}

.about-us-img-3 {
    display: flex;
    background-color: rgb(43, 226, 113);
    flex-direction: column;
    align-items: center;
}

.about-us-content img{
    width: 26rem
}

/* Adjusting Images */

@media screen and (max-width: 600px) {


}

@media screen and (max-width: 600px) {
    .about-us-img-1{
        flex-direction: column;
    }
    .about-us-img-1 img{
        width: 100%;
    }
    .about-us-img-2{
        flex-direction: column;
    }
    .about-us-img-2 img{
        width: 100%;
    }
    .about-us-img-3 img{
        width: 100%;
    }
    .about-us-content-para {
        color: blueviolet;
        font-size: 20px;
    }
    .services-content img {
      width: 100%;
      overflow: hidden;
    }
}

.sign-up-content, .login-content, .contact-us {
  display: flex;
  align-items: center;
  flex-direction: column;
}


.sign-up-content-main, .login-content-main, .contact-us-content {
  display: flex;
  flex-direction: column;
  background: -webkit-linear-gradient(rgb(48, 233, 57), rgb(1, 255, 115));
  align-items: center;
  width: 15rem;
  height: 400px;
}

.sign-up-content-form, .login-content-form {
  display: flex;
  flex-direction: column;
  margin: 4rem;
  line-height: 2;
}

.services-sign-up-text, .services-login-text, .contact-us-text {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: orange;
  width: 100%;
}

/* Align last two text items in form */
.existing-user-check {
  display: flex;
  flex-direction: row;
  background-color: blue;
}

.existing-user-check a {
  color: yellow;
}

.existing-user-check p {
  color: antiquewhite;
}

.existing-user-check p,
.existing-user-check a{
  font-size: 15px;
}

.existing-user-check a:hover {
  color: red;
}

.sign-up-button {
  margin-top: 15px;
  background-color: orchid;
  color: white;
}

.sign-up-button:hover {
  color: yellow;
  background-color: rgb(42, 165, 108);
}

.services-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(204, 126, 139);
}

.services-content-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services-content-main {
  display: flex;
  flex-direction: column;
  background-color: pink;
  align-items: center;
  word-wrap: break-word;
}

.services-content-img {
  width: 30rem;
}

.forgot-password-text {
  background-color: rgb(0, 162, 255);
}

.appointments-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.appointments-title-text {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.appointment-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ap-name {
  color: red
}

.ap-edit {
  color: blue
}

.appointment-form {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.form-container {
  display: flex;
  justify-content: center;
}

.index-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about-us-staff {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  min-width: 25%;
  max-width: 25%;
}
.card-text {
  word-wrap: break-word;
}